In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
query1 = """
        SELECT name AS facility_name, SUM(CASE WHEN b.memid = 0 THEN slots * guestcost
        ELSE slots * membercost)
        END AS total_revenue
        FROM Bookings AS b
        INNER JOIN Members AS m ON b.memid = m.memid
        INNER JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY name
        HAVING total_revenue < 1000
        ORDER BY total_revenue DESC;
        """
print(query1)

        SELECT name AS facility_name, SUM(CASE WHEN b.memid = 0 THEN slots * guestcost
        ELSE slots * membercost)
        END AS total_revenue
        FROM Bookings AS b
        INNER JOIN Members AS m ON b.memid = m.memid
        INNER JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY name
        HAVING total_revenue < 1000
        ORDER BY total_revenue DESC;

In [5]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name AS facility_name, SUM(CASE WHEN b.memid = 0 THEN slots * guestcost
        ELSE slots * membercost
        END) AS total_revenue
        FROM Bookings AS b
        INNER JOIN Members AS m ON b.memid = m.memid
        INNER JOIN Facilities AS f ON b.facid = f.facid
        GROUP BY name
        HAVING total_revenue < 1000
        ORDER BY total_revenue DESC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [9]:
import pandas as pd

In [8]:

engine = create_connection()
with engine.connect() as conn:
    rs = conn.execute('SELECT b.facid, name, memid, membercost, guestcost, slots, bookid FROM Bookings AS b INNER JOIN Facilities AS f On b.facid = f.facid')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    
    print(df.head())
    
    df.loc[df['memid'] == 0, 'tr'] = df['guestcost'] * df['slots']
    df.loc[df['memid'] != 0, 'tr'] = df['membercost'] * df['slots']
    df.sort_values(by='tr', ascending=False)

NameError: name 'database' is not defined

In [26]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m.memid AS member_id, m.surname||'  '|| m.firstname AS member_name, 
        sub.surname||'  '||sub.firstname AS recommender_name
        FROM Members AS m, (SELECT surname, firstname, memid FROM Members) AS sub
        WHERE recommendedby != '' 
        AND recommendedby = sub.memid 
        ORDER BY recommender_name ASC;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(24, 'Sarwin  Ramnaresh', 'Bader  Florence')
(22, 'Coplin  Joan', 'Baker  Timothy')
(20, 'Genting  Matthew', 'Butters  Gerald')
(16, 'Baker  Timothy', 'Farrell  Jemima')
(17, 'Pinker  David', 'Farrell  Jemima')
(27, 'Rumney  Henrietta', 'Genting  Matthew')
(26, 'Jones  Douglas', 'Jones  David')
(7, 'Dare  Nancy', 'Joplette  Janice')
(11, 'Jones  David', 'Joplette  Janice')
(35, 'Hunt  John', 'Purview  Millicent')
(8, 'Boothe  Tim', 'Rownam  Tim')
(4, 'Joplette  Janice', 'Smith  Darren')
(5, 'Butters  Gerald', 'Smith  Darren')
(10, 'Owen  Charles', 'Smith  Darren')
(14, 'Smith  Jack', 'Smith  Darren')
(21, 'Mackenzie  Anna', 'Smith  Darren')
(29, 'Worthington-Smyth  Henry', 'Smith  Tracy')
(30, 'Purview  Millicent', 'Smith  Tracy')
(36, 'Crumpet  Erica', 'Smith  Tracy')
(12, 'Baker  Anne', 'Stibbons  Ponder')
(15, 'Bader  Florence', 'Stibbons  Ponder')
(9, 'Stibbons  Ponder', 'Tracy  Burton')

In [27]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT firstname, surname, name, b.memid, b.facid 
        FROM Bookings AS b
        INNER JOIN Facilities AS f ON b.facid = f.facid
        INNER JOIN Members AS m ON b.memid = m.memid
        WHERE b.memid != 0
        GROUP BY firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna', 'Mackenzie', 'Badminton Court', 21, 2)
('Anne', 'Baker', 'Tennis Court 1', 12, 0)
('Burton', 'Tracy', 'Tennis Court 2', 6, 1)
('Charles', 'Owen', 'Tennis Court 1', 10, 0)
('Darren', 'Smith', 'Table Tennis', 1, 3)
('David', 'Jones', 'Tennis Court 2', 11, 1)
('Douglas', 'Jones', 'Badminton Court', 26, 2)
('Erica', 'Crumpet', 'Badminton Court', 36, 2)
('Florence', 'Bader', 'Badminton Court', 15, 2)
('Gerald', 'Butters', 'Tennis Court 1', 5, 0)
('Henrietta', 'Rumney', 'Snooker Table', 27, 7)
('Henry', 'Worthington-Smyth', 'Badminton Court', 29, 2)
('Hyacinth', 'Tupperware', 'Snooker Table', 33, 7)
('Jack', 'Smith', 'Massage Room 1', 14, 4)
('Janice', 'Joplette', 'Massage Room 1', 4, 4)
('Jemima', 'Farrell', 'Table Tennis', 13, 3)
('Joan', 'Coplin', 'Snooker Table', 22, 7)
('John', 'Hunt', 'Tennis Court 1', 35, 0)
('Matthew', 'Genting', 'Massage Room 2', 20, 5)
('Millicent', 'Purview', 'Badminton Court', 30, 2)
('Nancy', 'Dare', 'Badminton Court', 7, 2)
('Ponder', 'Stibbons', 'Tennis Court 2', 9, 1)
('Ramnaresh', 'Sarwin', 'Tennis Court 2', 24, 1)
('Tim', 'Rownam', 'Massage Room 1', 3, 4)
('Timothy', 'Baker', 'Tennis Court 2', 16, 1)
('Tracy', 'Smith', 'Tennis Court 1', 2, 0)

In [72]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT strftime('%m', starttime) AS month, f.facid, firstname, surname, SUM(slots) AS facility_usage_total, name
        FROM Bookings AS b
        INNER JOIN Facilities AS f ON b.facid = f.facid
        INNER JOIN Members AS m ON b.memid = m.memid
        WHERE b.memid <> 0
        GROUP BY month, f.facid;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 0, 'Tracy', 'Smith', 201, 'Tennis Court 1')
('07', 1, 'Tim', 'Rownam', 123, 'Tennis Court 2')
('07', 2, 'Darren', 'Smith', 165, 'Badminton Court')
('07', 3, 'Darren', 'Smith', 98, 'Table Tennis')
('07', 4, 'Darren', 'Smith', 166, 'Massage Room 1')
('07', 5, 'Janice', 'Joplette', 8, 'Massage Room 2')
('07', 6, 'Darren', 'Smith', 50, 'Squash Court')
('07', 7, 'Darren', 'Smith', 140, 'Snooker Table')
('07', 8, 'Darren', 'Smith', 110, 'Pool Table')
('08', 0, 'Gerald', 'Butters', 339, 'Tennis Court 1')
('08', 1, 'Tim', 'Boothe', 345, 'Tennis Court 2')
('08', 2, 'Darren', 'Smith', 414, 'Badminton Court')
('08', 3, 'Nancy', 'Dare', 296, 'Table Tennis')
('08', 4, 'Gerald', 'Butters', 316, 'Massage Room 1')
('08', 5, 'Nancy', 'Dare', 18, 'Massage Room 2')
('08', 6, 'Burton', 'Tracy', 184, 'Squash Court')
('08', 7, 'Janice', 'Joplette', 316, 'Snooker Table')
('08', 8, 'Tim', 'Rownam', 303, 'Pool Table')
('09', 0, 'David', 'Pinker', 417, 'Tennis Court 1')
('09', 1, 'David', 'Jones', 414, 'Tennis Court 2')
('09', 2, 'Darren', 'Smith', 507, 'Badminton Court')
('09', 3, 'David', 'Pinker', 400, 'Table Tennis')
('09', 4, 'Tim', 'Boothe', 402, 'Massage Room 1')
('09', 5, 'Nancy', 'Dare', 28, 'Massage Room 2')
('09', 6, 'Janice', 'Joplette', 184, 'Squash Court')
('09', 7, 'Anna', 'Mackenzie', 404, 'Snooker Table')
('09', 8, 'David', 'Pinker', 443, 'Pool Table')